<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Job Details</title>
    </head>
    <body>
        <h1>@Model.GetTitle()</h1>
        <h3>@Model.GetCompany()</h3>
        <h3>@Model.GetDates()</h3>
        <h3>@Model.GetDescription()</h3>
        <a href='/add'>Add another job</a>
        <a href='/'>View all jobs</a>
    </body>
</html>
