<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Jobs List</title>
  </head>
  <body>
    <h1>My Jobs List</h1>
    <ul>
      @foreach(var job in Model)
      {
        <li><a href="/details/@job.GetId()">@job.GetTitle()</a></li>
      }
    </ul>
    <a href="/add">Add a new job.</a>

  </body>
</html>
